

  {{ name }}:
    {% if needs %}
    needs: 
      - {{ needs }}
    {% endif %}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      {% for registry in registries %}
        {% if registry == 'docker.io' %}
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: {% raw %}${{ secrets.DOCKERHUB_USERNAME }}{% endraw %}
          password: {% raw %}${{ secrets.DOCKERHUB_TOKEN }}{% endraw %}
        {% elif registry == 'quay.io' %}
      - name: Login to Quay.io
        uses: docker/login-action@v3
        with:
          username: {% raw %}${{ secrets.QUAY_USERNAME }}{% endraw %}
          password: {% raw %}${{ secrets.QUAY_PASSWORD }}{% endraw %}
        {% elif registry == 'hub.oepkgs.net' %}
      - name: Login to OEPKGS
        uses: docker/login-action@v3
        with:
          username: {% raw %}${{ secrets.OEPKGS_USERNAME }}{% endraw %}
          password: {% raw %}${{ secrets.OEPKGS_TOKEN }}{% endraw %}
        {% endif %}
      {% endfor %}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker images
        uses: docker/build-push-action@v6
        with: 
          platforms: |
            {% for arch in archs %}
            {{ arch }}
            {% endfor %}
          tags: |
            {% for registry in registries %}
            {{ registry }}/{{ repository }}/{{ name }}:{{ tag }}
            {% endfor %}
          file: {% raw %}${{ github.workspace }}{% endraw %}/{{ name }}/Dockerfile
          context: {% raw %}${{ github.workspace }}{% endraw %}/{{ name }}
          push: true